.contact-form3-wrapper {
  display: contents;
}
 
.contact-form3-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form3-image1 {
  flex: 1;
  width: auto;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
 
.contact-form3-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
 
.contact-form3-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-name-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-email-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-number-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-msg-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form3-button {
  align-self: flex-start;
}
 
.contact-fragment2 {
  display: contents;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-fragment1 {
  display: contents;
}
 
.contact-text18 {
  display: inline-block;
}
 
.contact-fragment3 {
  display: contents;
}
 
.contact-text20 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .contact-form3-contact9 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .contact-form3-section-title {
    padding-bottom: var(--dl-space-space-unit);
  }
  .contact-form3-form {
    padding-top: var(--dl-space-space-unit);
  }
}
 
@media(max-width: 991px) {
  .contact-form3-max-width {
    flex-direction: column;
  }
  .contact-form3-content1 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form3-image1 {
    width: 100%;
  }
}

.contact-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
 
.contact-navbar1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
 
.contact-header {
  min-width: 100%;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #8a2c2c;
}
 
.contact-navbar2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
 
.contact-container2 {
  width: var(--dl-size-size-xxlarge);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.contact-image1 {
  width: 32px;
  height: 32px;
  z-index: 100;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
 
.contact-logo-center1 {
  margin-top: 0.5rem;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0.5rem;
}
 
.contact-middle1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
 
.contact-nav-options {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
 
.contact-icons {
  display: flex;
}
 
.contact-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
 
.contact-image3 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
 
.contact-image4 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
 
.contact-burger-menu {
  display: none;
}
 
.contact-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
 
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.contact-logo-center2 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
 
.contact-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.contact-middle2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
 
.contact-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.contact-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.contact-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.contact-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.contact-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.contact-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.contact-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.contact-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.contact-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.contact-main {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
 
.contact-full-width-banner {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-fourunits);
  justify-content: center;
}
 
.contact-fragment1 {
  display: contents;
}
 
.contact-text18 {
  display: inline-block;
}
 
.contact-fragment2 {
  display: contents;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-fragment3 {
  display: contents;
}
 
.contact-text20 {
  display: inline-block;
}
 
.contact-footer1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.contact-footer2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
 
.contact-container4 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-text21 {
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.contact-text22 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
 
.contact-text25 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
 
.contact-text26 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
 
.contact-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text27 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
 
.contact-text28 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text29 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text30 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text31 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text32 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text33 {
  color: var(--dl-color-gray-black50);
}
 
.contact-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text34 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
 
.contact-text35 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text36 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text37 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text38 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text39 {
  color: var(--dl-color-gray-black50);
}
 
.contact-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text40 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
 
.contact-text41 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text42 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text43 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-text44 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
@media(max-width: 1600px) {
  .contact-header {
    width: 100%;
    min-width: 100%;
    align-self: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    background-color: #aaa55f;
  }
  .contact-container2 {
    justify-content: flex-start;
  }
  .contact-logo-center1 {
    color: #04235c;
    font-size: 30px;
  }
  .contact-icons {
    width: var(--dl-size-size-xxlarge);
    justify-content: flex-end;
  }
  .contact-main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
 
@media(max-width: 1200px) {
  .contact-header {
    background-color: #4B3B47;
  }
  .contact-logo-center1 {
    fill: #1465B7;
    color: rgb(20, 101, 183);
    font-style: italic;
    font-family: Noto Sans;
    font-weight: 200;
  }
  .contact-nav-options {
    flex-direction: row;
    justify-content: center;
  }
  .contact-about-txt1 {
    fill: #1465B7;
    color: #1465B7;
  }
  .contact-about-txt2 {
    fill: #1465B7;
    color: #1465B7;
  }
  .contact-service-txt {
    fill: #1465B7;
    color: #1465B7;
  }
  .contact-contact-txt {
    color: #1465b7;
  }
}
 
@media(max-width: 991px) {
  .contact-container2 {
    display: none;
  }
  .contact-nav-options {
    display: none;
  }
  .contact-icons {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
  }
  .contact-icon10 {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .contact-logo-center2 {
    margin-left: 0px;
  }
  .contact-footer2 {
    flex-direction: column-reverse;
  }
  .contact-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .contact-full-width-banner {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .contact-footer2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .contact-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .contact-container1 {
    padding-top: 55px;
  }
  .contact-header {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-footer2 {
    padding: var(--dl-space-space-unit);
  }
  .contact-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-container5 {
    margin-right: var(--dl-space-space-unit);
  }
  .contact-container6 {
    margin-right: var(--dl-space-space-unit);
  }
}
